[submodule "MS-PowerAPP-Instructor"]
	path = MS-PowerAPP-Instructor
	url = https://github.com/alvarobittar/MS-PowerAPP-Instructor.git
	branch = main
[submodule "MS-PowerAPP-Usuario"]
	path = MS-PowerAPP-Usuario
	url = https://github.com/santipaez/MS-PowerAPP-Usuario.git
	branch = main
[submodule "MS-PowerApp-Gym_Clasess"]
	path = MS-PowerApp-Gym_Clasess
	url = https://github.com/joaquinpiastre/MS-PowerApp-Gym_Clasess.git
	branch = main